body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fcfcfc;
  /* height: 150vh; */
}

.navbar {
  background-color: #000;
}

header {
  position: sticky;
  top: 0;
  background-color: #fcfcfc;
}

.head {
  height: 7vh;
  padding-left: 13px;
}

.head_con2 {
  background-color: #ffdd33;
  padding: 3px 13px;
  font-size: 13px;
}

.navbar span a {
  margin-right: 5px;
}

.head span a {
  margin-right: 10px;
}

.navbar span a:hover,
.author:hover {
  cursor: pointer;
  color: #fff;
}

.head span a:hover {
  cursor: pointer;
  color: black;
}

.fa-search:hover {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.space-btwn {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.color-w {
  color: #fff;
}

.color-gray {
  color: gray;
}

.pad-10 {
  padding: 6px 13px;
}

.no-decor {
  text-decoration: none;
}

.left_bor {
  border-left: 1px solid gray;
}

.align_cent {
  align-self: center;
}

.h_100 {
  height: 100%;
}

.fa-search {
  padding: 0px 15px;
  font-size: 20px;
}

/* Main section */

.main-pic-container {
  margin: 5px;
  /* height: 500px; */
  height: 75vh;
  max-height: 560px;
}

.tnw {
  width: 64%;
  float: left;
  height: 100%;
  background: url("images/Baby-Yoda.jpg") center no-repeat;
  background-size: cover;
  margin: 0.2%;
}

.flagship {
  float: left;
  width: 35.5%;
  height: 50%;
  background-image: url("images/facebook-img.png");
  background-size: cover;
  margin-top: 0.2%;
}

.facebook {
  width: 35.6%;
  height: 49.5%;
  float: right;
  background-image: url("images/facebook-img.png");
  background-size: cover;
  margin-top: 0.2%;
  background-blend-mode: difference;
}

.logo {
  color: #fff;
}

.marg-20 {
  margin: 20px;
}

.distract {
  margin-top: 15%;
}

.gradient-bg {
  height: 100%;
  background: rgb(254, 66, 14);
  background: linear-gradient(
    -185deg,
    rgba(254, 66, 14, 0.9293912394662921) 0%,
    rgba(29, 26, 26, 0.6681552844101124) 80%
  );
}

.pad-20 {
  padding: 20px;
}

.f-direction-col {
  flex-direction: column;
}

.fb-bg {
  height: 100%;
  background: rgb(33, 33, 33);
  background: linear-gradient(
    0deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(29, 26, 26, 0.2413340336134454) 76%
  );
}
